$theme-colors: (
    primary: rgb(45,45,88),
    secondary: rgb(180,176,176),
    success: rgb(154,241,154),
    danger: rgb(224,99,99),
    warning: rgb(235,235,122),
    info: rgb(74, 199, 231),
    brainmatter: brown
)